* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #b1b0b0;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}

body {
  background-color: #e1e1e1;
}

.MuiPaper-root {
  background-color: #ffffff;
}

.MuiTypography-h4 {
  color: #ff6600;
}

.MuiTypography-subtitle1 {
  color: #666666;
}

ul, ol {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

.center-text {
  text-align: center;
}